/* Cover styles
--------------------------------------------- */

.is-style-blur-image-less,
.is-style-blur-image-more {
	overflow: hidden;
}

.is-style-blur-image-less > .wp-block-cover__image-background {
	transform: scale(1.2);
	filter: blur(30px);
}

.is-style-blur-image-more > .wp-block-cover__image-background {
	transform: scale(2);
	filter: blur(90px);
}

.is-style-rounded-cover img {
	border-radius: 25px;
}
