/* Query pagination
--------------------------------------------- */

.wp-block-query-pagination-numbers a {
	display: inline-block;
}

.wp-block-query-pagination-numbers span.page-numbers {
	padding-left: .8em;
	padding-right: .8em;
}
